DEBUG=True
SECRET_KEY=test
DOMAIN_NAME=http://localhost:8000/

DATABASE_NAME=test
DATABASE_USER=test
DATABASE_PASSWORD=test
DATABASE_HOST=localhost
DATABASE_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=1

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=test@gmail.com
EMAIL_HOST_PASSWORD=test

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=test
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=test

SOCIAL_AUTH_GITHUB_KEY=test
SOCIAL_AUTH_GITHUB_SECRET=test

STRIPE_PUBLISHABLE_KEY=test
STRIPE_SECRET_KEY=test
STRIPE_API_VERSION=2022-08-01
STRIPE_WEBHOOK_SECRET=test
