# Django
DEBUG=True
SECRET_KEY=your-secret-key
DOMAIN_NAME=http://localhost/

# Database
DATABASE_NAME=micron
DATABASE_USER=postgtres
DATABASE_PASSWORD=postgres

DATABASE_HOST=postgres
DATABASE_PORT=5432

# Postgres container
POSTGRES_DB=micron_db
POSTGRES_USER=micron_user
POSTGRES_PASSWORD=micron_password

# Postgres Admin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password

# OAuth Google
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=your-key
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=your-secret

# OAuth GitHub
SOCIAL_AUTH_GITHUB_KEY=your-key
SOCIAL_AUTH_GITHUB_SECRET=your-secret

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_API_VERSION=2022-08-01
STRIPE_WEBHOOK_SECRET=whsec_xxx
