{% extends "base.html" %}
{% load static %}

{% block title %}
Payment successful
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/payment/completed.css' %}">
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<section class="success-section">
    <div class="success-container">
        <div class="success-icon">
            <img src="{% static 'images/icon/success.png' %}" alt="Success">
        </div>
        <h1 class="success-title">Thank You!</h1>
        <p class="success-message">
            Your payment has been successfully completed.
        </p>
        <a href="{% url 'products:products' %}" class="return-btn">
            <i class="fas fa-arrow-left"></i>
            Return to the site
        </a>
    </div>
</section>

{% include 'footer.html' %}

{% endblock %}