.contact-us span {
    color: #0dcaf0;
}

h1 span {
    color: #0d6efd;
}

.btn:hover {
    background-color: #0d6efd;
}

.contact-2 .contact-info-2 .ci-box i {
    width: 45px;
    line-height: 50px;
    margin-right: 5px;
    font-size: 33px;
}

.contact-2 .contact-info-2 .ci-box h5 {
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 5px;
}

.contact-2 .contact-info-2 .ci-box p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}

.contact-2 .contact-info-2 .ci-box {
    margin: 0 0 30px 0;
    position: relative;
    width: 100%;
}

.contact-2 .ci-box .icon {
    position: absolute;
}

.contact-2 .ci-box .detail {
    margin-left: 50px;
}

.contact-2 {
    padding: 80px 0 100px 0;
    min-height: calc(100vh - 300px);
}

