{% extends 'base.html' %}
{% load i18n %}
{% load static humanize %}

{% block title %}
{{ title }}
{% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/products/favorite-products.css' %}">

{% endblock %}


{% block content %}
{% include 'navbar.html' %}

<section class="py-5">
    <div class="container">
        <h1 class="page-title">{% trans 'Favorite Products' %}</h1>

        {% if favorite_products %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for product in favorite_products %}
            <div class="col">
                <div class="product-card">
                    <div class="product-image-wrapper">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}"/>
                        </a>
                    </div>

                    <div class="card-body">
                        <a href="{{ product.get_absolute_url }}" class="text-decoration-none">
                            <h5 class="product-title">{{ product.name }}</h5>
                        </a>
                        <div class="product-price">${{ product.price|intcomma }}</div>
                        <a href="{% url 'products:delete_from_favorites' product.id %}" class="remove-favorite-btn remove-btn text-decoration-none">
                            <i class="fas fa-trash me-2"></i>{% trans 'Remove from Favorites' %}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="text-center mt-5">
            <a href="{% url 'products:products' %}" class="return-btn text-decoration-none">
                <i class="fas fa-arrow-left me-2"></i>{% trans 'Return to Products' %}
            </a>
        </div>
        {% else %}
        <div class="empty-favorites">
            <h4>{% trans 'No favorite products yet.' %}</h4>
            <a href="{% url 'products:products' %}" class="return-btn text-decoration-none">
                <i class="fas fa-arrow-left me-2"></i>{% trans 'Return to Products' %}
            </a>
        </div>
        {% endif %}
    </div>
</section>

<hr>

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% endblock %}