{% extends 'base.html' %}
{% load i18n %}
{% load static humanize %}

{% block title %}
| {{ category.name|capfirst }}
{% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/products/list-category.css' %}">

{% endblock %}



{% block content %}
{% include 'navbar.html' %}


<main>
    <div class="py-5">
        <div class="container">
            <h2 class="category-title">{{ category.name|capfirst }}</h2>
            <hr>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                {% for product in products %}
                <div class="col">
                    <div class="product-card">
                        {% if product.discount %}
                        <div class="sale-badge badge position-absolute" style="top: 1rem; right: 1rem">
                            {% trans 'Sale' %}
                        </div>
                        {% endif %}

                        <div class="product-image-wrapper">
                            <a href="{{ product.get_absolute_url }}">
                                <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}"/>
                            </a>
                        </div>

                        <div class="card-body">
                            <a href="{{ product.get_absolute_url }}" class="text-decoration-none">
                                <h5 class="product-title">{{ product.name|capfirst }}</h5>
                            </a>

                            <div class="price-section">
                                {% if product.discount %}
                                <span class="original-price">${{ product.price|intcomma }}</span>
                                <span class="discounted-price">${{ product.price_with_discount|intcomma }}</span>
                                {% else %}
                                <span class="discounted-price">${{ product.price|intcomma }}</span>
                                {% endif %}
                            </div>

                            <a href="{{ product.get_absolute_url }}" class="detail-btn text-decoration-none">
                                {% trans 'More detail' %}
                            </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12">
                    <h2 class="empty-category">{% trans 'Sorry, but this session is empty now' %}</h2>
                </div>
                {% endfor %}
            </div>

            <a href="{% url 'products:products' %}" class="text-decoration-none">
                <button type="button" class="back-btn">
                    <i class="fa fa-sign-out me-2" aria-hidden="true"></i>{% trans 'Back' %}
                </button>
            </a>
        </div>
    </div>
</main>

<hr>

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% endblock %}