{% extends 'base.html' %}
{% load i18n %}
{% load static humanize %}
{% load currency_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/tags/tag-list.css' %}">

{% endblock %}


{% block content %}
{% include 'navbar.html' %}

<section class="py-5">
    <div class="container">
        <h2 class="page-title">
            {% if tag %}
            {% trans "Products tagged with" %}
            <span class="tag-name">#{{ tag.name }}</span>
            {% else %}
            {% trans "All Products" %}
            {% endif %}
        </h2>

        {% if products %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for product in products %}
            <div class="col">
                <div class="product-card">
                    <div class="product-image-wrapper">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}"/>
                        </a>
                    </div>

                    <div class="card-body">
                        <h5 class="product-title">{{ product.name }}</h5>
                        <h6>{% price_display product.price %}</h6>
                        <p class="product-description">
                            {{ product.description|safe|truncatewords:15 }}
                        </p>
                        <a href="{{ product.get_absolute_url }}" class="detail-btn">
                            {% trans "View Details" %}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="no-products">
            <h5>{% trans "No products found for this tag." %}</h5>
        </div>
        {% endif %}
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}