{% extends "base.html" %}
{% load static humanize crispy_forms_tags %}
{% load currency_tags %}

{% block title %}
    Checkout
{% endblock %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/orders/checkout.css' %}">

{% endblock %}


{% block content %}

    {% include 'navbar.html' %}

    <section class="checkout-section">
        <div class="checkout-container">
            <h1 class="page-title">Checkout</h1>

            <div class="order-summary">
                <h3 class="summary-title">Order Summary</h3>
                <ul class="order-items">
                    {% for item in cart %}
                        <li class="order-item">
                            <div class="item-details">
                                <span class="item-quantity">{{ item.quantity }}x</span>
                                <span class="item-name">{{ item.product.name }}</span>
                            </div>
                            <span class="item-price">{% price_display item.total_price %}</span>
                        </li>
                    {% endfor %}
                </ul>

                {% if cart.coupon %}
                    <div class="coupon-info">
                        <div>
                            <span class="coupon-code">{{ cart.coupon.code }}</span>
                            <span>({{ cart.coupon.discount }}% off)</span>
                        </div>
                            <span class="discount-amount">- {% price_display cart.get_discount %}</span>
                    </div>
                {% endif %}

                <div class="total-amount">
                    Total: {% price_display cart.get_total_price_after_discount %}
                </div>
                <div class="total-amount">
                <span class="bonus-points">
                    Total Bonus points: {{ cart.get_total_bonus_points|intcomma }}
                    <img src="{% static 'images/icon/bonus_points_icon.svg' %}"
                         width="20"
                         height="20"
                         alt="micron points">
                </span>
                </div>


            </div>

            <form method="post" class="checkout-form">
                {% csrf_token %}
                <div class="form-section">
                    {{ form|crispy }}
                </div>
                <button type="submit" class="place-order-btn">
                    <i class="fas fa-shopping-cart me-2"></i>Place Order
                </button>
            </form>
        </div>
    </section>

    {% include 'footer.html' %}

{% endblock %}