{% extends 'base.html' %}
{% load static humanize %}

{% block title %}
    {{ title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/orders/orders.css' %}">
{% endblock %}

{% block content %}

    {% block header %}
        {% include 'navbar.html' %}
    {% endblock %}

    <section>
        <div class="container">
            <div class="text-center">
                <h1>Orders</h1>
                <div class="orders mt-3">
                    {% if orders %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Postal Code</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Bonus points</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <th scope="row">{{ order.id }}</th>
                                        <td>{{ order.first_name }} {{ order.last_name }}</td>
                                        <td>{{ order.email }}</td>
                                        <td>{{ order.city }}</td>
                                        <td>{{ order.postal_code }}</td>
                                        <td class="date-column">{{ order.created_at|naturaltime }}</td>
                                        <th>{{ order.paid }}</th>
                                        <td> {{ order.bonus_points }}</td>
                                        <td class="action-buttons">
                                            <a href="{% url 'orders:detail_order' order.id %}" class="btn btn-detail">
                                                <i class="fas fa-info-circle"></i> Detail
                                            </a>
                                            <a href="{% url 'orders:delete_order' order.id %}" class="btn btn-delete">
                                                <i class="fas fa-trash-alt"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <h2 class="no-orders">No orders</h2>
                    {% endif %}
                </div>
            </div>
            <a href="{% url 'products:products' %}" class="btn-return">
                <i class="fas fa-arrow-left"></i> Return to back
            </a>
        </div>
    </section>

    {% include 'footer.html' %}

{% endblock %}